<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<div class="my-5 p-2" style="background-color: #e6ddc8" th:fragment="footer">-->
<!--    <p class="text-end">&copy; WoodBreez <img src="logo."></p>-->
<!--</div>-->
<div class="mt-5 pt-4 pb-3" style="background-color: #e6ddc8" th:fragment="footer">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                <h5>문의사항</h5>
                <p>전화:010-3478-9812 <br>
                    이메일:sua77777@naver.com <br>
                </p>
            </div>
            <div class="col-md-4">
                <h5>사업장 정보</h5>
                <p> 대표:임가람<br>
                    상호:woodbreez <br>
                    주소:성남시 중원구<br>
                    Fax:070-3478-9812
                </p>
            </div>
            <div class="col-md-4">
                <h5>근무 시간</h5>
                <p> 근무시간 : 월 ~ 금 AM 9:00 ~ PM 6:00<br>
                    점심시간 : PM12 :00 ~ PM 1 : 00
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>